---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
	class="appearance-none rounded bg-blue-500 px-[2em] py-[1em] text-xl font-medium text-sky-100 my-[4em]"
>
	<slot />
</button>

<script>
	import confetti from 'canvas-confetti';
	const button = document.body.querySelector('button');

	if (button) {
		button.addEventListener('click', () => confetti());
	}
</script>
