---
// Click button, get confetti!
// Styled by Tailwind :)
const { className, style = null } = Astro.props;
---

<button
data-aos="zoom-in" data-aos-duration="400" class={`contact-btn${className ? ` ${className}` : ""}`} style={style}>
	<slot />
</button>

<script>
	import confetti from 'canvas-confetti';
	const button = document.body.querySelector('button');
	const currentBtn = document.getElementsByClassName("contact-btn")

	if(currentBtn.length > 0){
		currentBtn[0].addEventListener('click', () => {
			window.location.href = "mailto:fadhelijlalfalah@gmail.com";
		});
	}

	if (button) {
		button.addEventListener('click', () => confetti());
	}
</script>
