  .mylogo {
    @apply flex items-center border-r border-[#cdd1d6] overflow-hidden w-full h-full;
    transition: width 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  .all-menu .header .logo-hide{
    width: 40px;
  }
  .mylogo img {
    width: 2rem;
    aspect-ratio: 1 / 1;
  }
  .mylogo p {
    @apply text-lg font-semibold ml-2 mr-5;
    visibility: visible;
    opacity: 1;
    transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .all-menu .bottom {
    width: 0;
    opacity: 0;
    justify-content: center;
  }

  .all-menu .active {
    display: flex;
    width: 40px;
    opacity: 1;
    transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  .all-menu .active img {
    content:url("https://www.svgrepo.com/show/4166/up-arrow.svg");
    width: 1rem;
  }

  .all-menu {
    @apply overflow-hidden truncate flex drop-shadow-2xl backdrop-blur-sm bg-white/70 rounded-lg p-2 md:p-3 text-sm;
  }
  .all-menu .header {
    display: flex;
    align-items: center;
  }
  .all-menu .content {
    @apply flex items-center;
  }
  .all-menu .content .nav-active {
    @apply text-teal-500;
  }
  .navbar-active .content {
    visibility: visible;
    opacity: 1;
  }
  .all-menu .content .nav-link {
    @apply px-5;
  }