@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-url-header-home: url("/home/bg.png");
}

@layer utilities {
  .porto-clip {
    clip-path: polygon(30% 5%, 100% 0, 100% 95%, 75% 100%, 0 95%, 0 0);
  }

  .porto-clip-mweb {
    clip-path: polygon(30% 2%, 100% 0, 100% 95%, 75% 97%, 0 95%, 0 0);
  }
}

@layer components {
  .section-timeline {
    @apply bg-section-timeline md:bg-section-timeline-md 2xl:bg-section-timeline-lg py-24 bg-no-repeat bg-[length:100%,20%,25%,5%];
  }

  .education-timeline-sections {
    @apply bg-section-edu md:bg-section-edu-md 2xl:bg-section-edu-lg pb-48;
  }

  .contact-btn {
    @apply appearance-none rounded px-5 py-3 md:px-[2em] md:py-[1em] text-sm md:text-xl font-medium my-[4em];
  }

  .porto-card {
    @apply hover:rotate-[0deg] rounded-[10px] md:rounded-[20px] flex flex-col justify-between mx-6 md:mx-0 md:m-0 bg-[linear-gradient(345deg,rgba(255,255,255,0)_0%,rgba(255,255,255,1)_45%)] md:bg-[linear-gradient(345deg,rgba(255,255,255,0)_0%,rgba(255,255,255,1)_60%)];
    height: 100%;
    transition: all 0.5s ease 0s;
  }

  .porto-card .head {
    @apply p-[1.5rem] pb-[0] md:p-[2.5rem] md:pb-[0];
  }

  .porto-card .head .title {
    @apply mb-2 block text-[1.5rem] md:text-[2rem] font-bold md:font-semibold leading-9;
  }

  .porto-card .head .desc {
    @apply my-6 text-base md:text-xl font-normal text-base-2;
  }

  .porto-card .content img {
    overflow: hidden;

    @apply relative h-full w-full bg-white rounded-[10px] md:rounded-[20px] md:drop-shadow-[0_55px_55px_#ffc85d];

    object-fit: cover;
  }

  .porto-card .content {
    @apply h-max md:h-[20em];

    @apply rounded-[0_0_20px_20px] p-[1.2rem] md:p-[2.5rem] pt-[0];
  }
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: Poppins, system-ui, sans-serif;

    @apply text-base;
  }

  body {
    background-color: #fff;

    @apply bg-no-repeat bg-top bg-contain;
  }

  ::selection {
    background: rgb(224 242 254);
    color: rgb(59 130 246);
    text-shadow: none;
  }

  * {
    box-sizing: border-box;
  }
}
