@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-url-header-home: url("/revamp/home/bg.png");
}

@layer utilities {
  .porto-clip {
    clip-path: polygon(30% 10%, 100% 0, 100% 90%, 75% 100%, 0 90%, 0 0);
  }
}

@layer base {
    html, body {
    padding: 0;
    margin: 0;
    font-family: Poppins, system-ui, sans-serif;
    @apply text-base;
    }
    body {
    @apply bg-no-repeat;
    @apply bg-top;
    @apply bg-contain;
    }
    ::selection {
      background: rgb(224 242 254);
      color: rgb(59 130 246);
      text-shadow: none;
  }

    * {
      box-sizing: border-box;
    }
  }