# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy Gatsby with astro

on:
  push:
    branches: [dev-astro]
  pull_request:
    branches: [dev-astro]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.15.0]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Checkout gatsby
        run: git fetch && git checkout dev

      - name: Installing my packages
        run: yarn install

      - name: Build Gatsby
        run: yarn build
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
      - run: touch ./public/.nojekyll
      - run: mkdir ../hasil-build
      - run: sudo cp -r ./public/* ../hasil-build/

      - name: Checkout astro
        run: git fetch && git checkout dev-astro

      - name: Installing my packages
        run: yarn install

      - name: Build Astro
        run: yarn build
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
      - run: touch ./dist/.nojekyll
      - run: sudo cp -r ./dist/* ../hasil-build/
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v2
        with:
          # upload entire directory
          path: '../hasil-build/'
    # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
